<?xml version="1.0"?>

<launch>

    <!-- 
        ============================
        Launch HDIF Learned Costmaps 
        ============================
    -->

    <arg name="robot" default="warthog5"/>
    <!-- Arguments for costmap_node -->
    <!-- <arg name="model_dir" default="$(find learned_cost_map)/models/train_CostFourierVelModel_lr_3e-4_g_99e-1_bal_aug_l2_scale_10.0"/>  -->
    <arg name="model_dir" default="$(find learned_cost_map)/models/finetune_warthog5_CostFourierVelModel_MLP_512_lr_0.00003_freqs_8_betterData_0"/>
    <arg name="model_name" default="CostFourierVelModel"/>
    <arg name="map_config" default="$(find learned_cost_map)/configs/wanda_map_params.yaml"/> 
    <arg name="costmap_config" default="$(find learned_cost_map)/configs/output_costmap_params.yaml"/> 
    <arg name="height_map_topic" default="/local_height_map_inflate"/>
    <arg name="rgb_map_topic" default="/local_rgb_map_inflate"/>
    <arg name="odometry_topic" default="/$(arg robot)/odom"/>
    <arg name="invalid_cost" default="0.5"/>

    <!-- Arguments for traversability_cost_publisher -->
    <arg name="cost_stats_dir" default="$(find learned_cost_map)/wanda_cost_statistics.yaml"/>
    <arg name="imu_topic" default="/$(arg robot)/imu/data"/>


    <node pkg="learned_cost_map" type="costmap_node.py" name="learned_costmap_node" output="screen">
        <param name="model_name" value="$(arg model_name)"/>
        <param name="model_dir" value="$(arg model_dir)"/>
        <param name="map_config" value="$(arg map_config)"/>
        <param name="costmap_config" value="$(arg costmap_config)"/>
        <param name="height_map_topic" value="$(arg height_map_topic)"/>
        <param name="rgb_map_topic" value="$(arg rgb_map_topic)"/>
        <param name="odometry_topic" value="$(arg odometry_topic)"/>
        <param name="invalid_cost" value="$(arg invalid_cost)"/>
    </node>    

    <node pkg="learned_cost_map" type="cost_publisher.py" name="traversability_cost_publisher" output="screen">
        <param name="cost_stats_dir" value="$(arg cost_stats_dir)"/>
        <param name="imu_topic" value="$(arg imu_topic)"/>
    </node>  

</launch>

